* 성명 : 백민준

# 전처리

In [ ]:
# pip install google

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google in /usr/local/lib/python3.7/dist-packages (2.0.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from google) (4.6.3)

In [ ]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url_jnorth = '/content/drive/MyDrive/test/소상공인시장진흥공단_상가(상권)정보_전북_202203.csv'
jnorth = pd.read_csv(url_jnorth)

url_jsouth = '/content/drive/MyDrive/test/소상공인시장진흥공단_상가(상권)정보_전남_202203.csv'
jsouth = pd.read_csv(url_jsouth)

url_kj = '/content/drive/MyDrive/test/소상공인시장진흥공단_상가(상권)정보_광주_202203.csv'
kj = pd.read_csv(url_kj)

url_tk = '/content/drive/MyDrive/test/소상공인시장진흥공단_상가(상권)정보_대구_202203.csv'
tk = pd.read_csv(url_tk)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
jnorth.shape #(109273, 39)
jsouth.shape #(112840, 39)
kj.shape #(71486, 39)
tk.shape #(100797, 39)

In [ ]:
jnorth.info()
print('-'*30)

jsouth.info()
print('-'*30)

kj.info()
print('-'*30)

tk.info()
print('-'*30)

In [ ]:
# 중요치 않다고 여겨지거나 중복되는 의미를 지닌다고 생각하는 column 삭제 (drop 활용)
jnorth.drop(["법정동코드", "법정동명", "지번코드", "대지구분코드", "대지구분명", "지번본번지", "지번부번지",
             "지번주소", "건물본번지", "건물부번지", "건물관리번호", "건물명", "구우편번호", "신우편번호", "동정보", 
             "층정보", "호정보"], axis= 1, inplace = True)

jsouth.drop(["법정동코드", "법정동명", "지번코드", "대지구분코드", "대지구분명", "지번본번지", "지번부번지",
             "지번주소", "건물본번지", "건물부번지", "건물관리번호", "건물명", "구우편번호", "신우편번호", "동정보", 
             "층정보", "호정보"], axis= 1, inplace = True)

kj.drop(["법정동코드", "법정동명", "지번코드", "대지구분코드", "대지구분명", "지번본번지", "지번부번지",
             "지번주소", "건물본번지", "건물부번지", "건물관리번호", "건물명", "구우편번호", "신우편번호", "동정보", 
             "층정보", "호정보"], axis= 1, inplace = True)

tk.drop(["법정동코드", "법정동명", "지번코드", "대지구분코드", "대지구분명", "지번본번지", "지번부번지",
             "지번주소", "건물본번지", "건물부번지", "건물관리번호", "건물명", "구우편번호", "신우편번호", "동정보", 
             "층정보", "호정보"], axis= 1, inplace = True)

In [ ]:
print(jnorth.isnull().sum(axis=0)) #결측치 판단

In [ ]:
jnorth["지점명"].fillna('0', inplace = True) #각 열마다 null값 처리해보기
jnorth["표준산업분류코드"].fillna('0', inplace = True)
jnorth["표준산업분류명"].fillna('0', inplace = True)
jnorth["행정동명"].fillna('0', inplace = True)

In [ ]:
print(jsouth.isnull().sum(axis=0))

In [ ]:
jsouth["지점명"].fillna('0', inplace = True)
jsouth["표준산업분류코드"].fillna('0', inplace = True)
jsouth["표준산업분류명"].fillna('0', inplace = True)

In [ ]:
print(kj.isnull().sum(axis=0))

In [ ]:
kj["지점명"].fillna('0', inplace = True)
kj["표준산업분류코드"].fillna('0', inplace = True)
kj["표준산업분류명"].fillna('0', inplace = True)

In [ ]:
print(tk.isnull().sum(axis=0))

In [ ]:
tk["지점명"].fillna('0', inplace = True)
tk["표준산업분류코드"].fillna('0', inplace = True)
tk["표준산업분류명"].fillna('0', inplace = True)
tk["행정동명"].fillna('0', inplace = True)

In [ ]:
all_data = pd.concat([jnorth, jsouth, kj, tk], axis = 0)
all_data.info()

* pandas의 pivottable 기능을 이용해서 각자 자료를 2개씩 분석해 주세요

* 예시 
* 분석한 내용
> * 내가 조사한 경남 지역 관련 데이터의 경우, 이러한 업종의 소상공인 수가 많았다. 어느 지역이나 동에 특히 많이 있었다 등등의 정보를 탐색해보자!!
> * 내가 맡은 2~3개의 타 지역과 비교해보았을 때, 특정 업종이 많은 비율을 차지하는 것으로 보아 관광업에 종사하는 소상공인의 수가 많은 것으로 보인다.
> * 관광업의 소상공인의 경우, 숙박업의 비중이 높지 않을까?
> * 관광업 소상공인들의 데이터의 경우, 팬데믹 이전과 비교해보고 싶다. 왠지, 팬데믹 이전의 데이터도 찾을 수 있다면, 어느 업종에서 소상공인들이 큰 피해를 보고 소상공인의 수가 줄었는지 데이터를 통해 확인할 수 있지 않을까?

* 위와 같이, 꼬리에 꼬리를 무는 식으로 분석과 궁금한 점, 더 찾아보고 싶은 데이터가 무엇인지 알아볼 수 있는 기회로 이번 과제를 여겨주셨으면 감사하겠습니다:)

## 첫번째 분석

* 분석한 내용 간단히 설명 : 지역별 / 업종대분류별 매장수 분석

In [ ]:
#전라북도 시군구별 / 업종대분류별 매장수
pivot_jnorth = pd.pivot_table(data = jnorth, index = "시군구명", columns = "상권업종대분류명", values = "상가업소번호", aggfunc = ['count'], 
                              fill_value = 0, margins=True, margins_name="합계")
pivot_jnorth

            count
상권업종대분류명 관광/여가/오락   부동산  생활서비스     소매    숙박   스포츠     음식 학문/교육      합계
시군구명
고창군            39    36    439   1336   122    30    987   103    3092
군산시           269   454   2405   5150   141   134   4512  1004   14069
김제시            72    93    751   2049    91    37   1347   221    4661
남원시            73    57    901   2518   173    41   1787   370    5920
무주군            30    24    230    760   198    21    648    45    1956
부안군            45    48    452   1322   264    19   1196   110    3456
순창군            11    14    218    686    52     7    463    50    1501
완주군            75   106    681   1751   117    33   1921   273    4957
익산시           372   395   3202   6562   183   181   4877  1396   17168
임실군            14    19    255    729    37    18    645    53    1770
장수군            21    11    173    477    20     8    434    33    1177
전주시             0     0      0      0     0     0      1     2       3
전주시 덕진구       427   684   3270   6023   212   253   5234  1732   17835
전주시 완산구       539   860   4074   8810   226   246   6898  2314   23967
정읍시            99    84   1180   2597   109    50   1882   411    6412
진안군            11     8    149    679    80     6    367    29    1329
합계           2097  2893  18380  41449  2025  1084  33199  8146  109273

전주시 완산구 / 전주시 덕진구 / 익산시 / 군산시가 매장수가 가장 많았고 (약 14000 ~ 24000개),

장수군 / 진안군 / 순창군 / 임실군 / 무주군이 매장수가 가장 적었다 (약 1300 ~ 2000개)



업종별 순위: 소매 > 음식 > 생활서비스 > 학문/교육 > 부동산 > 관광/여가/오락 > 숙박 > 스포츠

In [ ]:
#전라남도 시군구별 / 업종대분류별 매장수
pivot_jsouth = pd.pivot_table(data = jsouth, index = "시군구명", columns = "상권업종대분류명", values = "상가업소번호", aggfunc = ['count'], 
                              fill_value = 0, margins=True, margins_name="합계")
pivot_jsouth

            count
상권업종대분류명 관광/여가/오락   부동산  생활서비스     소매    숙박   스포츠     음식 학문/교육      합계
시군구명
강진군            35    20    322    933    84    15    765    50    2224
고흥군            45    50    544   1961   140    26   1334    96    4196
곡성군            24    16    262    553    71    14    526    62    1528
광양시           207   213   1610   2891   199   123   3369   700    9312
구례군            34    25    288    774   157    21    758    73    2130
나주시            62   178    621   1318    45    53   1413   225    3915
담양군            29    65    368    889   153    21   1034    59    2618
목포시           368   313   2603   5724   284   116   5314  1095   15817
무안군            64   131    644   1611    86    57   1727   286    4606
보성군            37    20    377   1098   110    15    903    62    2622
순천시           386   424   3088   6485   381   194   5769  1512   18239
신안군            20    17    198    649   190     8    725    26    1833
여수시           430   267   2888   6256   793   167   6335  1221   18357
영광군            37    27    513   1555    79    18   1142   115    3486
영암군            45    35    453   1302    99    34   1154   126    3248
완도군            42    11    416   1145   254    17   1433    93    3411
장성군            27    46    353    924    87    28    734    86    2285
장흥군            33    23    399   1007    73    23    841    67    2466
진도군            25    13    247    782    87    13    672    56    1895
함평군            11    20    235    647    56    10    470    36    1485
해남군            60    30    591   1900   157    21   1467   141    4367
화순군            55    66    458    989    62    24    986   160    2800
합계           2076  2010  17478  41393  3647  1018  38871  6347  112840

여수시 / 순천시 / 목포시 / 광양시가 매장수가 가장 많았고 (약 9000 ~ 18000개),

함평군 / 곡성군 / 신안군 / 진도군이 매장수가 가장 적었다 (2000개 미만)

업종별 순위: 소매 > 음식 > 생활서비스 > 학문/교육 > 숙박 > 관광/여가/오락 > 부동산 > 스포츠

In [ ]:
#광주 시군구별 / 업종대분류별 매장수
pivot_kj = pd.pivot_table(data = kj, index = "시군구명", columns = "상권업종대분류명", values = "상가업소번호", aggfunc = ['count'], 
                              fill_value = 0, margins=True, margins_name="합계")
pivot_kj

매장수 순위: 북구 > 광산구 > 서구 > 동구 > 남구

업종별 순위: 소매 > 음식 > 생활서비스 > 학문/교육 > 부동산 > 관광/여가/오락 > 스포츠 > 숙박

In [ ]:
#대구 시군구별 / 업종대분류별 매장수
pivot_tk = pd.pivot_table(data = tk, index = "시군구명", columns = "상권업종대분류명", values = "상가업소번호", aggfunc = ['count'], 
                              fill_value = 0, margins=True, margins_name="합계")
pivot_tk

매장수 순위: 달서구 > 북구 > 동구 > 수성구 > 달성군 > 서구 > 남구

업종별 순위: 음식 > 소매 > 생활서비스 > 학문/교육 > 부동산 > 관광/여가/오락 > 스포츠 > 숙박

In [ ]:
#지역별(전체) / 업종대분류별 매장수 
pivot_all = pd.pivot_table(data = all_data, index = "시도명", columns = "상권업종대분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_all

매장수 순위: 전남 > 전북 > 대구 > 광주

업종별 순위: 소매 > 음식 > 생활서비스 > 학문/교육 > 부동산 > 관광/여가/오락 > 숙박 > 스포츠

In [ ]:
#지역별 (전체) / 매장당 인구수
df = pd.DataFrame([[1870445, 1910594, 1476513, 2489558],
                   [787531, 839868, 585113, 988129],
                   [109273, 112840, 71486, 100797]],
                  index = ["인구", "가구", "매장"],
                  columns = ["전북", "전남", "광주", "대구"])
df.loc["1인당 매장수", :] = round(df.loc["매장", :] / df.loc["인구", :],2)
df.loc["가구당 매장수", :] = round(df.loc["매장", :] / df.loc["가구", :],2)
df.loc["매장당 인구수", :] = round(df.loc["인구", :] / df.loc["매장", :],2)
df.loc["매장당 가구수", :] = round(df.loc["가구", :] / df.loc["매장", :],2)
df

                 전북          전남          광주          대구
인구       1870445.00  1910594.00  1476513.00  2489558.00
가구        787531.00   839868.00   585113.00   988129.00
매장        109273.00   112840.00    71486.00   100797.00
1인당 매장수        0.06        0.06        0.05        0.04
가구당 매장수        0.14        0.13        0.12        0.10
매장당 인구수       17.12       16.93       20.65       24.70
매장당 가구수        7.21        7.44        8.19        9.80

인구데이터 출처 : https://sg.sbiz.or.kr/godo/stat/area.sg

### 분석내용

- 4개 지역 모두에서 소매업, 음식업, 생활서비스업이 가장 많은 비중을 차지
- 광역시(광주 & 대구)는 음식업과 소매업이 비슷한 수준
- 전북, 전남 지역은 음식업보다 소매업이 월등히 높음
- (광주와 대구 등 광역시에서는 전북, 전남 지역에 비해 음식업에 종사하는 소상공인들이 많아 보인다.)
- 대체적으로 숙박업, 스포츠업에 종사하는 소상공인들이 적음

1. 전북 & 전남:
- 인구 / 매장수: 전남 > 전북 (큰 차이 없음)
- 1인당 매장수: 큰 차이없음
- 소매업 > 음식업 > 생활서비스업
- 지역(시군구)마다 매장수 편차가 큼
- 전북 최하위 업종: 숙박, 스포츠
- 전남 최하위 업종: 부동산, 스포츠 (전남은 다른 지역에 비해 숙박업에 종사하는 사람들이 많아 보인다.)

2. 광주 & 대구
- 인구 / 매장수 : 대구 > 광주
- 1인당 매장수: 광주 > 대구
- 광주: 소매업 > 음식업 > 생활서비스업
- 대구: 음식업 > 소매업 > 생활서비스업
- 두 광역시 모두 숙박업과 스포츠업이 최하위 업종

## 두번째 분석

* 분석한 내용 간단히 설명 : 지역별 학문/교육시설 현황

In [ ]:
jnorth_edu = jnorth[jnorth["상권업종대분류명"] == "학문/교육"]
pivot_jnorth_edu = pd.pivot_table(data = jnorth_edu, index = "시군구명", columns = "상권업종중분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_jnorth_edu

매장수: 전주시(덕진구 & 완산구) > 익산시 > 군산시

분야별: 학원-보습교습입시 > 학원-음악미술무용 > 학원-어학 > 유아교육 > 학원-예능취미체육

In [ ]:
jsouth_edu = jsouth[jsouth["상권업종대분류명"] == "학문/교육"]
pivot_jsouth_edu = pd.pivot_table(data = jsouth_edu, index = "시군구명", columns = "상권업종중분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_jsouth_edu

매장수: 순천시 > 여수시 > 목포시 > 광양시

분야별: 학원-보습교습입시 > 학원-음악미술무용 > 학원-어학 > 유아교육 > 학원-예능취미체육

In [ ]:
kj_edu = kj[kj["상권업종대분류명"] == "학문/교육"]
pivot_kj_edu = pd.pivot_table(data = kj_edu, index = "시군구명", columns = "상권업종중분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_kj_edu

매장수: 광산구 > 북구 > 서구 > 남구 > 동구

분야별: 학원-보습교습입시 > 학원-음악미술무용 > 학원-어학 > 유아교육 > 학원-예능취미체육

In [ ]:
tk_edu = tk[tk["상권업종대분류명"] == "학문/교육"]
pivot_tk_edu = pd.pivot_table(data = tk_edu, index = "시군구명", columns = "상권업종중분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_tk_edu

매장수: 달서구 > 수성구 > 북구

분야별: 학원-보습교습입시 > 학원-어학 > 학원-음악미술무용 > 학원-예능취미체육 > 유아교육

In [ ]:
all_data_edu = pd.concat([jnorth_edu, jsouth_edu, kj_edu, tk_edu], axis = 0)
pivot_all_edu = pd.pivot_table(data = all_data_edu, index = "시도명", columns = "상권업종중분류명", values = "상가업소번호", aggfunc = ['count'], fill_value = 0, margins=True, margins_name="합계")
pivot_all_edu

           count                                                              \
상권업종중분류명 도서관/독서실  유아교육 학문교육기타 학원-보습교습입시 학원-어학 학원-예능취미체육 학원-음악미술무용 학원-자격/국가고시
시도명
광주광역시        309   521    110      1329   735       438       815         99
대구광역시        300   607    127      1418  1081       617      1040        109
전라남도         193   755    132      1281   881       487      1072        113
전라북도         278   886    129      1783  1101       661      1571        129
합계          1080  2769    498      5811  3798      2203      4498        450


상권업종중분류명 학원-창업취업취미 학원-컴퓨터  학원기타     합계
시도명
광주광역시          108     35  1107   5606
대구광역시          126     61  1595   7081
전라남도           133     77  1223   6347
전라북도           162    100  1346   8146
합계             529    273  5271  27180

### 분석내용

학문/교육 매장수 : 전북 > 대구 > 전남 > 광주
- 4개 지역 모두 학원시설이 압도적으로 많고, 그 중 1위는 보습교습입시 학원
- 전남, 전북, 광주: 학원-보습교습입시 > 학원-음악미술무용 > 학원-어학 > 유아교육 > 학원-예능취미체육
- 대구: 학원-보습교습입시 > 학원-어학 > 학원-음악미술무용 > 학원-예능취미교육 > 유아교육
(대구에 상대적으로 어학학원이 많아 보인다)
- 지역별 교육 시설수 차이가 크다는 것을 확인할 수 있다.

추가사항:

2021년도, 2020년도 등 과거 데이터가 있다면 더욱 다양한 인사이트를 도출해낼 수 있지 않을까?

- 코로나로 인한 소상공인들의 피해 (코로나로 인해 특히 가장 큰 피해를 많이 본 업종이 무엇일까? 어떤 지원정책을 마련할 수 있을까? 어떤 업종 소상공인들에게 우선적으로 지원을 해야 할까?)

- '빈익빈부익부' 문제: '지점' (위 질문과 일맥상통). 지난 3년간, 지점이 여러개인 프랜차이즈와 지점이 한 개뿐인 업소들 - 두 그룹 간 매장수에는 유의미한 변화가 있을까? 뉴스를 보면 코로나로 인해 '빈익빈부익부' 문제가 심화되었다고 한다. 자영업자들이 더욱 살기 어려워졌다고 하는데, 사실인지 확인해볼 수 있지 않을까?