* 성명 : 차혜준

# 전처리

In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

In [3]:
CHB = pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가(상권)정보_충북_202203.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
CHN = pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가(상권)정보_충남_202203.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
SEJ = pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가(상권)정보_세종_202203.csv")

In [6]:
DJN = pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가(상권)정보_대전_202203.csv")

In [7]:
CHB.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23971869,청담어학원,청주가경캠퍼스점,R,학문/교육,R04,학원-어학,R04A01,학원-외국어/어학,P85502,...,4311311100107000000024027,대상마스터빌딩,충청북도 청주시 서원구 복대로 7,362805,28612.0,NaN,7,NaN,127.446061,36.617928
1,20602380,신도다실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,4311110800100250006048924,NaN,충청북도 청주시 상당구 대성로 38,360050,28716.0,NaN,NaN,NaN,127.493371,36.628602
2,21968791,원주양행,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,4313011500100040014015525,NaN,충청북도 충주시 무학4길 5,380959,27405.0,NaN,1,NaN,127.927238,36.974111
3,20552215,유기농팔도,NaN,D,소매,D01,음/식료품소매,D01A08,유기농식품판매,G47219,...,4374034028101280000002104,대양영농조합법인,충청북도 영동군 매곡면 괘방령로 674-52,370871,29122.0,NaN,NaN,NaN,127.980293,36.152695
4,24206905,D.C.열쇠,NaN,D,소매,D07,가정/주방/인테리어,D07A15,유리/페인트/철물건축자재,G47519,...,4311310900103500000018517,주공3단지아파트,충청북도 청주시 서원구 매봉로 64,362150,28694.0,306,NaN,NaN,127.478662,36.616083

In [8]:
CHN.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,24536268,대건모터스,NaN,D,소매,D23,자동차/자동차용품,D23A06,자동차부품판매,G45219,...,4413110700106430003023605,대건모터스,충청남도 천안시 동남구 천안대로 591,330070,31187.0,NaN,1.0,NaN,127.163942,36.801016
1,23868715,무한,NaN,D,소매,D01,음/식료품소매,D01A13,청과물소매,G47214,...,4481040031105050001002901,NaN,충청남도 예산군 오가면 신원길 45-7,340914,32424.0,NaN,NaN,NaN,126.814920,36.689092
2,20218177,삽다리식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4413137025103450004038637,삽다리식당,충청남도 천안시 동남구 동면 충절로 2297,330871,31258.0,NaN,NaN,NaN,127.354533,36.779953
3,17174097,구오,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,4421010100100670002000001,NaN,충청남도 서산시 호수공원3로 20,356805,31989.0,NaN,1.0,NaN,126.447467,36.774691
4,21684400,한윤희국어논술학원,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,4418010200106540001020447,명천오가피순대,충청남도 보령시 지장골길 131,355011,33443.0,NaN,2.0,NaN,126.599967,36.360449

In [9]:
SEJ.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17173962,5바,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,3611010700103610039000001,메가타워1,세종특별자치시 나성북로 9,339003.0,30128.0,NaN,NaN,NaN,127.257850,36.489644
1,24286366,동양농기연기대전대리,NaN,D,소매,D21,철물/난방/건설자재소매,D21A01,건축백화점,G47519,...,4473034021102380008029093,NaN,세종특별자치시 금남면 성덕영곡길 16,339835.0,30083.0,NaN,NaN,NaN,127.277224,36.461005
2,20755519,코리아부동산,NaN,L,부동산,L01,부동산중개,L01A01,부동산중개,L68221,...,4473033033105430000000005,첫마을3단지,세종특별자치시 나리1로 16,339014.0,30130.0,311,NaN,NaN,127.259039,36.477278
3,23505124,수목길,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,3611036033107050001000001,NaN,세종특별자치시 연서면 당산로 262,339813.0,30047.0,NaN,NaN,NaN,127.277934,36.556431
4,11720062,세븐일레븐세종침산원룸점,세종침산원룸점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,3611025028102850015000001,NaN,세종특별자치시 조치원읍 문화1길 10,339887.0,30020.0,NaN,1,NaN,127.289619,36.600264

In [10]:
DJN.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,22401931,스피드메이트,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,3020014600111220000001772,NaN,대전광역시 유성구 관들4길 25,305509,34018.0,NaN,NaN,NaN,127.393241,36.424448
1,24185362,국제종합기계부품총판,NaN,D,소매,D25,기타판매업,D25A15,농기구판매,G47512,...,3017010300101730001030969,써머스빌,대전광역시 서구 계백로 1426,302160,35400.0,NaN,NaN,NaN,127.379765,36.312625
2,22742209,알파수학전문학원,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,3014010200101570008028501,선우빌딩,대전광역시 중구 선화서로 128-1,301824,34841.0,NaN,2,NaN,127.413968,36.334319
3,17174039,솔바람,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,3020012000109080016009529,NaN,대전광역시 유성구 은구비서로3번길 8-23,305330,34086.0,NaN,NaN,NaN,127.320105,36.373504
4,17174056,BBQ치킨,대전대흥점,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,3014010500101180005012316,NaN,대전광역시 중구 대흥로 158,301802,34928.0,NaN,1,NaN,127.429579,36.324517

In [11]:
# 중요치 않다고 여겨지거나 중복되는 의미를 지닌다고 생각하는 column 삭제 (drop 활용)
CHB.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)
CHB.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,지번주소,도로명코드,도로명,건물명,도로명주소,신우편번호,동정보,층정보,경도,위도
0,23971869,청담어학원,청주가경캠퍼스점,R,학문/교육,R04,학원-어학,R04A01,학원-외국어/어학,P85502,...,충청북도 청주시 서원구 개신동 700,431123237030,충청북도 청주시 서원구 복대로,대상마스터빌딩,충청북도 청주시 서원구 복대로 7,28612.0,NaN,7,127.446061,36.617928
1,20602380,신도다실,NaN,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,충청북도 청주시 상당구 서운동 25-6,431113236014,충청북도 청주시 상당구 대성로,NaN,충청북도 청주시 상당구 대성로 38,28716.0,NaN,NaN,127.493371,36.628602
2,21968791,원주양행,NaN,D,소매,D06,가방/신발/액세서리,D06A07,양품점,G47419,...,충청북도 충주시 봉방동 4-14,431304514499,충청북도 충주시 무학4길,NaN,충청북도 충주시 무학4길 5,27405.0,NaN,1,127.927238,36.974111
3,20552215,유기농팔도,NaN,D,소매,D01,음/식료품소매,D01A08,유기농식품판매,G47219,...,충청북도 영동군 매곡면 어촌리 128-1,437403000177,충청북도 영동군 매곡면 괘방령로,대양영농조합법인,충청북도 영동군 매곡면 괘방령로 674-52,29122.0,NaN,NaN,127.980293,36.152695
4,24206905,D.C.열쇠,NaN,D,소매,D07,가정/주방/인테리어,D07A15,유리/페인트/철물건축자재,G47519,...,충청북도 청주시 서원구 수곡동 348,431123237027,충청북도 청주시 서원구 매봉로,주공3단지아파트,충청북도 청주시 서원구 매봉로 64,28694.0,306,NaN,127.478662,36.616083

In [12]:
CHB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89501 entries, 0 to 89500
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     89501 non-null  int64
 1   상호명        89501 non-null  object
 2   지점명        13004 non-null  object
 3   상권업종대분류코드  89501 non-null  object
 4   상권업종대분류명   89501 non-null  object
 5   상권업종중분류코드  89501 non-null  object
 6   상권업종중분류명   89501 non-null  object
 7   상권업종소분류코드  89501 non-null  object
 8   상권업종소분류명   89501 non-null  object
 9   표준산업분류코드   83260 non-null  object
 10  표준산업분류명    83260 non-null  object
 11  시도코드       89501 non-null  int64
 12  시도명        89501 non-null  object
 13  시군구코드      89501 non-null  int64
 14  시군구명       89501 non-null  object
 15  행정동코드      89501 non-null  int64
 16  행정동명       89500 non-null  object
 17  법정동코드      89495 non-null  float64
 18  법정동명       89495 non-null  object
 19  지번주소       89501 non-null  object
 20  도로명코드      89501 non-null  int64
 21  도로명        89501 non-null  object
 22  건물명        27095 non-null  object
 23  도로명주소      89501 non-null  object
 24  신우편번호      89492 non-null  float64
 25  동정보        6410 non-null   object
 26  층정보        39401 non-null  object
 27  경도         89501 non-null  float64
 28  위도         89501 non-null  float64
dtypes: float64(4), int64(5), object(20)
memory usage: 19.8+ MB

In [13]:
CHN.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)
CHN.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,지번주소,도로명코드,도로명,건물명,도로명주소,신우편번호,동정보,층정보,경도,위도
0,24536268,대건모터스,NaN,D,소매,D23,자동차/자동차용품,D23A06,자동차부품판매,G45219,...,충청남도 천안시 동남구 원성동 643-3,441312249005,충청남도 천안시 동남구 천안대로,대건모터스,충청남도 천안시 동남구 천안대로 591,31187.0,NaN,1.0,127.163942,36.801016
1,23868715,무한,NaN,D,소매,D01,음/식료품소매,D01A13,청과물소매,G47214,...,충청남도 예산군 오가면 신원리 505-1,448104589327,충청남도 예산군 오가면 신원길,NaN,충청남도 예산군 오가면 신원길 45-7,32424.0,NaN,NaN,126.814920,36.689092
2,20218177,삽다리식당,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,충청남도 천안시 동남구 동면 동산리 345-4,441313249055,충청남도 천안시 동남구 동면 충절로,삽다리식당,충청남도 천안시 동남구 동면 충절로 2297,31258.0,NaN,NaN,127.354533,36.779953
3,17174097,구오,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,충청남도 서산시 읍내동 67-2,442103254202,충청남도 서산시 호수공원3로,NaN,충청남도 서산시 호수공원3로 20,31989.0,NaN,1.0,126.447467,36.774691
4,21684400,한윤희국어논술학원,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,충청남도 보령시 죽정동 654-1,441804556567,충청남도 보령시 지장골길,명천오가피순대,충청남도 보령시 지장골길 131,33443.0,NaN,2.0,126.599967,36.360449

In [14]:
SEJ.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)
SEJ.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,지번주소,도로명코드,도로명,건물명,도로명주소,신우편번호,동정보,층정보,경도,위도
0,17173962,5바,NaN,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,세종특별자치시 나성동 798,361103351279,세종특별자치시 나성북로,메가타워1,세종특별자치시 나성북로 9,30128.0,NaN,NaN,127.257850,36.489644
1,24286366,동양농기연기대전대리,NaN,D,소매,D21,철물/난방/건설자재소매,D21A01,건축백화점,G47519,...,세종특별자치시 금남면 용포리 238-8,361104574306,세종특별자치시 금남면 성덕영곡길,NaN,세종특별자치시 금남면 성덕영곡길 16,30083.0,NaN,NaN,127.277224,36.461005
2,20755519,코리아부동산,NaN,L,부동산,L01,부동산중개,L01A01,부동산중개,L68221,...,세종특별자치시 한솔동 947,361103258057,세종특별자치시 나리1로,첫마을3단지,세종특별자치시 나리1로 16,30130.0,311,NaN,127.259039,36.477278
3,23505124,수목길,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,세종특별자치시 연서면 봉암리 705-1,361103258005,세종특별자치시 연서면 당산로,NaN,세종특별자치시 연서면 당산로 262,30047.0,NaN,NaN,127.277934,36.556431
4,11720062,세븐일레븐세종침산원룸점,세종침산원룸점,D,소매,D03,종합소매점,D03A01,편의점,G47122,...,세종특별자치시 조치원읍 침산리 285-15,361104574156,세종특별자치시 조치원읍 문화1길,NaN,세종특별자치시 조치원읍 문화1길 10,30020.0,NaN,1,127.289619,36.600264

In [15]:
DJN.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)
DJN.head(5)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,지번주소,도로명코드,도로명,건물명,도로명주소,신우편번호,동정보,층정보,경도,위도
0,22401931,스피드메이트,NaN,F,생활서비스,F14,자동차/이륜차,F14A01,자동차정비/카센타,NaN,...,대전광역시 유성구 관평동 1122,302004301041,대전광역시 유성구 관들4길,NaN,대전광역시 유성구 관들4길 25,34018.0,NaN,NaN,127.393241,36.424448
1,24185362,국제종합기계부품총판,NaN,D,소매,D25,기타판매업,D25A15,농기구판매,G47512,...,대전광역시 서구 도마동 173-1,301703000095,대전광역시 서구 계백로,써머스빌,대전광역시 서구 계백로 1426,35400.0,NaN,NaN,127.379765,36.312625
2,22742209,알파수학전문학원,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,대전광역시 중구 선화동 157-8,301403165023,대전광역시 중구 선화서로,선우빌딩,대전광역시 중구 선화서로 128-1,34841.0,NaN,2,127.413968,36.334319
3,17174039,솔바람,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,대전광역시 유성구 지족동 908-16,302004301376,대전광역시 유성구 은구비서로3번길,NaN,대전광역시 유성구 은구비서로3번길 8-23,34086.0,NaN,NaN,127.320105,36.373504
4,17174056,BBQ치킨,대전대흥점,Q,음식,Q09,유흥주점,Q09A01,호프/맥주,I56219,...,대전광역시 중구 대흥동 118-5,301403010006,대전광역시 중구 대흥로,NaN,대전광역시 중구 대흥로 158,34928.0,NaN,1,127.429579,36.324517

In [16]:
#각 열마다의 null 값 처리해보기!
#null 값 대신 같은 type의 데이터로 replace 해주는 게 이후 분석에 있어서 용이할 것 같습니다!
# 예를 들어, float 데이터의 열에 null이 있을 경우, null 값에 0을 집어넣기. str 데이터의 열에 null이 있을 경우, "0" 대입해주기. 등등 방법은 다양합니다!
# 아래에 코드 작성 후 진행해주세요!

In [17]:
CHB.isnull().sum(axis=0)

상가업소번호           0
상호명              0
지점명          76497
상권업종대분류코드        0
상권업종대분류명         0
상권업종중분류코드        0
상권업종중분류명         0
상권업종소분류코드        0
상권업종소분류명         0
표준산업분류코드      6241
표준산업분류명       6241
시도코드             0
시도명              0
시군구코드            0
시군구명             0
행정동코드            0
행정동명             1
법정동코드            6
법정동명             6
지번주소             0
도로명코드            0
도로명              0
건물명          62406
도로명주소            0
신우편번호            9
동정보          83091
층정보          50100
경도               0
위도               0
dtype: int64

In [18]:
CHB=CHB.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '법정동코드': 0, '법정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
CHB.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [19]:
CHN.isnull().sum(axis=0)

상가업소번호            0
상호명               0
지점명           98443
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드       7250
표준산업분류명        7250
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명            220
법정동코드             0
법정동명              0
지번주소              0
도로명코드             0
도로명               0
건물명           70592
도로명주소             0
신우편번호            26
동정보          106375
층정보           70423
경도                0
위도                0
dtype: int64

In [20]:
CHN=CHN.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
CHN.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [21]:
SEJ.isnull().sum(axis=0)

상가업소번호          0
상호명             0
지점명          9248
상권업종대분류코드       0
상권업종대분류명        0
상권업종중분류코드       0
상권업종중분류명        0
상권업종소분류코드       0
상권업종소분류명        0
표준산업분류코드      664
표준산업분류명       664
시도코드            0
시도명             0
시군구코드           0
시군구명            0
행정동코드           0
행정동명            0
법정동코드           0
법정동명            0
지번주소            0
도로명코드           0
도로명             0
건물명          5457
도로명주소           0
신우편번호           1
동정보          9256
층정보          6923
경도              0
위도              0
dtype: int64

In [22]:
SEJ=SEJ.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
SEJ.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [23]:
DJN.isnull().sum(axis=0)

상가업소번호           0
상호명              0
지점명          59427
상권업종대분류코드        0
상권업종대분류명         0
상권업종중분류코드        0
상권업종중분류명         0
상권업종소분류코드        0
상권업종소분류명         0
표준산업분류코드      4808
표준산업분류명       4808
시도코드             0
시도명              0
시군구코드            0
시군구명             0
행정동코드            0
행정동명             0
법정동코드            0
법정동명             0
지번주소             0
도로명코드            0
도로명              0
건물명          49001
도로명주소            0
신우편번호            5
동정보          64097
층정보          35069
경도               0
위도               0
dtype: int64

In [24]:
DJN=DJN.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
DJN.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

# 간단한 분석

* pandas의 pivottable 기능을 이용해서 각자 자료를 2개씩 분석해 주세요

* 예시 
* 분석한 내용
> * 내가 조사한 경남 지역 관련 데이터의 경우, 이러한 업종의 소상공인 수가 많았다. 어느 지역이나 동에 특히 많이 있었다 등등의 정보를 탐색해보자!!
> * 내가 맡은 2~3개의 타 지역과 비교해보았을 때, 특정 업종이 많은 비율을 차지하는 것으로 보아 관광업에 종사하는 소상공인의 수가 많은 것으로 보인다.
> * 관광업의 소상공인의 경우, 숙박업의 비중이 높지 않을까?
> * 관광업 소상공인들의 데이터의 경우, 팬데믹 이전과 비교해보고 싶다. 왠지, 팬데믹 이전의 데이터도 찾을 수 있다면, 어느 업종에서 소상공인들이 큰 피해를 보고 소상공인의 수가 줄었는지 데이터를 통해 확인할 수 있지 않을까?

* 위와 같이, 꼬리에 꼬리를 무는 식으로 분석과 궁금한 점, 더 찾아보고 싶은 데이터가 무엇인지 알아볼 수 있는 기회로 이번 과제를 여겨주셨으면 감사하겠습니다:)

In [25]:
CHB1 = pd.pivot_table(data = CHB, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
CHB1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        89501
소매         31197
음식         30091
생활서비스      15360
학문/교육       5666
부동산         2545
관광/여가/오락    2122
숙박          1491
스포츠         1029

In [26]:
CHB1_1 = CHB1 / CHB1.loc['All'] * 100
CHB1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
소매         34.856594
음식         33.620853
생활서비스      17.161819
학문/교육       6.330656
부동산         2.843544
관광/여가/오락    2.370923
숙박          1.665903
스포츠         1.149708

In [27]:
CHB2 = pd.pivot_table(data = CHB, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
CHB2

시군구명,괴산군,단양군,보은군,영동군,옥천군,음성군,제천시,증평군,진천군,청주시 상당구,청주시 서원구,청주시 청원구,청주시 흥덕구,충주시
상권업종대분류명,,,,,,,,,,,,,,
관광/여가/오락,32,31,32,49,36,158,194,46,94,208,255,243,417,327
부동산,54,31,12,36,37,216,142,40,131,241,354,308,561,382
생활서비스,288,268,271,386,393,1022,1452,316,660,1849,1891,1596,2641,2327
소매,832,670,732,894,954,2217,2887,632,1298,3751,3519,3150,4894,4767
숙박,119,175,117,68,47,78,278,24,55,99,45,70,99,217
스포츠,14,22,17,24,24,57,98,18,53,101,144,155,168,134
음식,950,751,711,874,893,2453,2798,658,1587,3211,2641,2670,4830,5064
학문/교육,53,48,51,102,93,218,391,100,210,703,1062,700,1080,855

In [28]:
CHB3 = pd.pivot_table(data = CHB, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
CHB3

                       상가업소번호
상권업종대분류명 상권업종중분류명
관광/여가/오락 PC/오락/당구/볼링등     740
         경마/경륜/성인오락        80
         놀이/여가/취미          97
         무도/유흥/가무         810
         스포츠/운동            18
...                       ...
학문/교육    학원-음악미술무용        907
         학원-자격/국가고시        85
         학원-창업취업취미         77
         학원-컴퓨터            45
         학원기타            1193

[89 rows x 1 columns]

In [29]:
CHB3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식         12162
소매       종합소매점       5892
생활서비스    이/미용/건강     5864
소매       음/식료품소매     4743
         의복의류        3780
...                   ...
생활서비스    법무세무회계        20
관광/여가/오락 스포츠/운동        18
소매       종교용품판매        15
숙박       유스호스텔          6
부동산      부동산관련서비스       1

[89 rows x 1 columns]

In [30]:
CHN1 = pd.pivot_table(data = CHN, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
CHN1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All       114806
음식         40247
소매         40124
생활서비스      18220
학문/교육       6306
부동산         3434
숙박          3026
관광/여가/오락    2344
스포츠         1105

In [31]:
CHN1_1 = CHN1 / CHN1.loc['All'] * 100
CHN1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
음식         35.056530
소매         34.949393
생활서비스      15.870251
학문/교육       5.492744
부동산         2.991133
숙박          2.635751
관광/여가/오락    2.041705
스포츠         0.962493

In [32]:
CHN2 = pd.pivot_table(data = CHN, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
CHN2

시군구명,계룡시,공주시,금산군,논산시,당진시,보령시,부여군,서산시,서천군,아산시,예산군,천안시,천안시 동남구,천안시 서북구,청양군,태안군,홍북읍,홍성군
상권업종대분류명,,,,,,,,,,,,,,,,,,
관광/여가/오락,39.0,111.0,40.0,123.0,211.0,133.0,37.0,205.0,58.0,288.0,96.0,9.0,289.0,469.0,22.0,84.0,NaN,130.0
부동산,37.0,139.0,63.0,125.0,312.0,105.0,44.0,288.0,43.0,458.0,81.0,9.0,466.0,992.0,18.0,86.0,NaN,168.0
생활서비스,254.0,1019.0,413.0,1270.0,1331.0,927.0,581.0,1439.0,438.0,2024.0,731.0,29.0,2633.0,3432.0,237.0,467.0,NaN,995.0
소매,460.0,2304.0,2001.0,3040.0,2677.0,2991.0,1356.0,3025.0,1313.0,3648.0,1693.0,61.0,5011.0,5696.0,718.0,1752.0,1.0,2377.0
숙박,31.0,206.0,83.0,200.0,117.0,395.0,77.0,178.0,102.0,179.0,129.0,NaN,202.0,117.0,34.0,882.0,NaN,94.0
스포츠,26.0,51.0,20.0,57.0,72.0,49.0,33.0,62.0,24.0,163.0,42.0,16.0,145.0,259.0,15.0,25.0,NaN,46.0
음식,650.0,2752.0,1102.0,2426.0,3376.0,2532.0,1076.0,3229.0,1008.0,4795.0,1605.0,70.0,4467.0,6522.0,649.0,1754.0,NaN,2234.0
학문/교육,177.0,353.0,89.0,326.0,461.0,319.0,111.0,600.0,102.0,792.0,146.0,26.0,823.0,1532.0,42.0,104.0,NaN,303.0

In [33]:
CHN3 = pd.pivot_table(data = CHN, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
CHN3

                       상가업소번호
상권업종대분류명 상권업종중분류명
관광/여가/오락 PC/오락/당구/볼링등     792
         경마/경륜/성인오락       115
         놀이/여가/취미         120
         무도/유흥/가무         843
         스포츠/운동            23
...                       ...
학문/교육    학원-음악미술무용        922
         학원-자격/국가고시       115
         학원-창업취업취미        106
         학원-컴퓨터            65
         학원기타            1387

[89 rows x 1 columns]

In [34]:
CHN3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식         15958
소매       음/식료품소매     7993
         종합소매점       7918
생활서비스    이/미용/건강     7081
음식       커피점/카페      4696
...                   ...
생활서비스    법무세무회계        27
관광/여가/오락 스포츠/운동        23
소매       종교용품판매        15
숙박       유스호스텔         12
부동산      부동산관련서비스       2

[89 rows x 1 columns]

In [35]:
SEJ1 = pd.pivot_table(data = SEJ, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
SEJ1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        11259
음식          4368
소매          2941
생활서비스       1681
학문/교육        927
부동산          865
관광/여가/오락     257
스포츠          154
숙박            66

In [36]:
SEJ1_1 = SEJ1 / SEJ1.loc['All'] * 100
SEJ1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
음식         38.795630
소매         26.121325
생활서비스      14.930278
학문/교육       8.233413
부동산         7.682743
관광/여가/오락    2.282618
스포츠         1.367795
숙박          0.586198

In [37]:
SEJ2 = pd.pivot_table(data = SEJ, index = "상권업종대분류명", columns='행정동명', values='상가업소번호', aggfunc = "count")
SEJ2

행정동명,고운동,금남면,다정동,대평동,도담동,반곡동,보람동,부강면,새롬동,소담동,...,연기면,연동면,연서면,장군면,전동면,전의면,조치원읍,종촌동,한솔동,해밀동
상권업종대분류명,,,,,,,,,,,,,,,,,,,,,
관광/여가/오락,12.0,10.0,3.0,1.0,26.0,NaN,9.0,12.0,37.0,7.0,...,1.0,2.0,5.0,14.0,3.0,8.0,78.0,9.0,4.0,NaN
부동산,54.0,63.0,21.0,14.0,74.0,2.0,30.0,23.0,112.0,40.0,...,25.0,19.0,36.0,71.0,9.0,14.0,102.0,29.0,98.0,1.0
생활서비스,99.0,98.0,26.0,22.0,135.0,3.0,39.0,64.0,155.0,50.0,...,37.0,21.0,58.0,77.0,20.0,65.0,519.0,59.0,50.0,1.0
소매,134.0,166.0,43.0,37.0,254.0,10.0,56.0,119.0,247.0,83.0,...,49.0,51.0,157.0,135.0,56.0,161.0,822.0,112.0,97.0,1.0
숙박,1.0,2.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,2.0,3.0,10.0,4.0,6.0,4.0,23.0,2.0,NaN,NaN
스포츠,10.0,8.0,3.0,4.0,16.0,NaN,9.0,4.0,16.0,7.0,...,NaN,NaN,2.0,7.0,2.0,3.0,31.0,7.0,4.0,NaN
음식,182.0,250.0,32.0,21.0,534.0,NaN,109.0,171.0,487.0,139.0,...,60.0,67.0,147.0,200.0,48.0,204.0,1162.0,149.0,137.0,NaN
학문/교육,96.0,22.0,47.0,15.0,91.0,2.0,32.0,9.0,108.0,59.0,...,2.0,7.0,15.0,11.0,5.0,13.0,153.0,78.0,70.0,NaN

In [38]:
SEJ3 = pd.pivot_table(data = SEJ, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
SEJ3

                       상가업소번호
상권업종대분류명 상권업종중분류명
관광/여가/오락 PC/오락/당구/볼링등      72
         경마/경륜/성인오락         7
         놀이/여가/취미           8
         무도/유흥/가무          80
         스포츠/운동             3
...                       ...
학문/교육    학원-음악미술무용        170
         학원-자격/국가고시         9
         학원-창업취업취미         14
         학원-컴퓨터             6
         학원기타             217

[87 rows x 1 columns]

In [39]:
SEJ3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식          1615
부동산      부동산중개        832
소매       종합소매점        800
음식       커피점/카페       652
생활서비스    이/미용/건강      612
...                   ...
학문/교육    학원-컴퓨터         6
숙박       민박/하숙          4
관광/여가/오락 스포츠/운동         3
숙박       호텔/콘도          1
소매       종교용품판매         1

[87 rows x 1 columns]

In [40]:
DJN1 = pd.pivot_table(data = DJN, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
DJN1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        70641
소매         24100
음식         22883
생활서비스      13042
학문/교육       5073
부동산         2423
관광/여가/오락    1712
스포츠          823
숙박           585

In [41]:
DJN1_1 = DJN1 / DJN1.loc['All'] * 100
DJN1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
소매         34.116165
음식         32.393369
생활서비스      18.462366
학문/교육       7.181382
부동산         3.430019
관광/여가/오락    2.423522
스포츠         1.165046
숙박          0.828131

In [42]:
DJN2 = pd.pivot_table(data = DJN, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
DJN2

시군구명       대덕구    동구    서구   유성구    중구
상권업종대분류명
관광/여가/오락   237   226   555   391   303
부동산        210   320   806   739   348
생활서비스     1833  1902  4405  2724  2178
소매        3634  4111  7287  4668  4400
숙박          93   127    78   112   175
스포츠         84    82   283   279    95
음식        2798  3289  7039  6021  3736
학문/교육      561   519  1849  1443   701

In [43]:
DJN3 = pd.pivot_table(data = DJN, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
DJN3

                       상가업소번호
상권업종대분류명 상권업종중분류명
관광/여가/오락 PC/오락/당구/볼링등     498
         경마/경륜/성인오락        22
         놀이/여가/취미          21
         무도/유흥/가무         715
         스포츠/운동            12
...                       ...
학문/교육    학원-음악미술무용        882
         학원-자격/국가고시        77
         학원-창업취업취미         88
         학원-컴퓨터            43
         학원기타            1095

[88 rows x 1 columns]

In [44]:
DJN3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식          8486
생활서비스    이/미용/건강     5428
소매       종합소매점       3991
         의복의류        3377
음식       커피점/카페      3251
...                   ...
관광/여가/오락 놀이/여가/취미      21
소매       종교용품판매        15
숙박       민박/하숙         14
관광/여가/오락 스포츠/운동        12
숙박       유스호스텔          2

[88 rows x 1 columns]

COVID19 이전 시점 분석

In [60]:
BC2 =  pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가업소정보_201903_02.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [69]:
BC3 =  pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가업소정보_201903_03.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [70]:
BC4 =  pd.read_csv("/content/drive/MyDrive/DSL_EDA/소상공인시장진흥공단_상가업소정보_201903_04.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [98]:
SEJ_BC = BC2[BC2.시도명 == '세종특별자치시']

In [99]:
DJN_BC = BC2[BC2.시도명 == '대전광역시']

In [100]:
CHB_BC = BC3[BC3.시도명 == '충청북도']

In [101]:
CHN_BC = BC4[BC4.시도명 == '충청남도']

In [102]:
CHB_BC.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [103]:
CHN_BC.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [104]:
DJN_BC.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [105]:
SEJ_BC.drop(['지번코드', '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '건물본번지', '건물부번지', '건물관리번호', '구우편번호', '호정보'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [106]:
CHB_BC.isnull().sum(axis=0)

상가업소번호           0
상호명              0
지점명          84389
상권업종대분류코드        0
상권업종대분류명         0
상권업종중분류코드        0
상권업종중분류명         0
상권업종소분류코드        0
상권업종소분류명         0
표준산업분류코드      6366
표준산업분류명       6366
시도코드             0
시도명              0
시군구코드            0
시군구명             0
행정동코드            0
행정동명             0
법정동코드            0
법정동명             0
지번주소             0
도로명코드            0
도로명              0
건물명          66623
도로명주소            0
신우편번호            4
동정보          90072
층정보          50665
경도               0
위도               0
dtype: int64

In [107]:
CHB_BC=CHB_BC.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
CHB_BC.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [108]:
CHN_BC.isnull().sum(axis=0)

상가업소번호            0
상호명               0
지점명          108685
상권업종대분류코드         0
상권업종대분류명          0
상권업종중분류코드         0
상권업종중분류명          0
상권업종소분류코드         0
상권업종소분류명          0
표준산업분류코드       7281
표준산업분류명        7281
시도코드              0
시도명               0
시군구코드             0
시군구명              0
행정동코드             0
행정동명              0
법정동코드             0
법정동명              0
지번주소              0
도로명코드             0
도로명               0
건물명           70938
도로명주소             0
신우편번호             2
동정보          116699
층정보           73137
경도                0
위도                0
dtype: int64

In [109]:
CHN_BC=CHN_BC.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '신우편번호': 0, '동정보': '0', '층정보': '0'})
CHN_BC.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [110]:
DJN_BC.isnull().sum(axis=0)

상가업소번호           0
상호명              0
지점명          75718
상권업종대분류코드        0
상권업종대분류명         0
상권업종중분류코드        0
상권업종중분류명         0
상권업종소분류코드        0
상권업종소분류명         0
표준산업분류코드      5231
표준산업분류명       5231
시도코드             0
시도명              0
시군구코드            0
시군구명             0
행정동코드            0
행정동명             0
법정동코드            0
법정동명             0
지번주소             0
도로명코드            0
도로명              0
건물명          61309
도로명주소            0
신우편번호            0
동정보          80611
층정보          41137
경도               0
위도               0
dtype: int64

In [111]:
DJN_BC=DJN_BC.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '동정보': '0', '층정보': '0'})
DJN_BC.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [112]:
SEJ_BC.isnull().sum(axis=0)

상가업소번호          0
상호명             0
지점명          8887
상권업종대분류코드       0
상권업종대분류명        0
상권업종중분류코드       0
상권업종중분류명        0
상권업종소분류코드       0
상권업종소분류명        0
표준산업분류코드      537
표준산업분류명       537
시도코드            0
시도명             0
시군구코드           0
시군구명            0
행정동코드           0
행정동명            0
법정동코드           0
법정동명            0
지번주소            0
도로명코드           0
도로명             0
건물명          6055
도로명주소           0
신우편번호           0
동정보          9526
층정보          5247
경도              0
위도              0
dtype: int64

In [113]:
SEJ_BC=SEJ_BC.fillna(value={'지점명': '0', '표준산업분류코드': '0', '표준산업분류명': '0', '행정동명': '0', '건물명': '0', '동정보': '0', '층정보': '0'})
SEJ_BC.isnull().sum(axis=0)

상가업소번호       0
상호명          0
지점명          0
상권업종대분류코드    0
상권업종대분류명     0
상권업종중분류코드    0
상권업종중분류명     0
상권업종소분류코드    0
상권업종소분류명     0
표준산업분류코드     0
표준산업분류명      0
시도코드         0
시도명          0
시군구코드        0
시군구명         0
행정동코드        0
행정동명         0
법정동코드        0
법정동명         0
지번주소         0
도로명코드        0
도로명          0
건물명          0
도로명주소        0
신우편번호        0
동정보          0
층정보          0
경도           0
위도           0
dtype: int64

In [114]:
CHB_BC1 = pd.pivot_table(data = CHB_BC, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
CHB_BC1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        95511
소매         34616
음식         32064
생활서비스      15249
학문/교육       6984
관광/여가/오락    2645
부동산         2511
숙박          1390
스포츠           52

In [94]:
CHB_BC1_1 = CHB_BC1 / CHB_BC1.loc['All'] * 100
CHB_BC1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
소매         36.242946
음식         33.571002
생활서비스      15.965700
학문/교육       7.312247
관광/여가/오락    2.769315
부동산         2.629017
숙박          1.455330
스포츠         0.054444

In [95]:
CHB_BC2 = pd.pivot_table(data = CHB_BC, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
CHB_BC2

시군구명,괴산군,단양군,보은군,영동군,옥천군,음성군,제천시,증평군,진천군,청주시 상당구,청주시 서원구,청주시 청원구,청주시 흥덕구,충주시
상권업종대분류명,,,,,,,,,,,,,,
관광/여가/오락,42.0,39.0,28.0,40.0,37.0,120.0,198.0,30.0,80.0,355.0,381.0,357.0,505.0,433.0
부동산,52.0,23.0,10.0,29.0,34.0,151.0,109.0,28.0,100.0,281.0,420.0,374.0,517.0,383.0
생활서비스,278.0,265.0,252.0,343.0,347.0,836.0,1295.0,289.0,556.0,2123.0,2027.0,1714.0,2443.0,2481.0
소매,787.0,719.0,688.0,803.0,869.0,1926.0,2763.0,642.0,1132.0,5640.0,4356.0,3800.0,4592.0,5899.0
숙박,104.0,133.0,103.0,52.0,43.0,71.0,238.0,24.0,50.0,125.0,46.0,80.0,113.0,208.0
스포츠,1.0,1.0,NaN,NaN,1.0,6.0,4.0,1.0,3.0,3.0,12.0,6.0,7.0,7.0
음식,954.0,780.0,672.0,810.0,800.0,2263.0,2735.0,598.0,1337.0,4212.0,3400.0,3425.0,4340.0,5738.0
학문/교육,54.0,50.0,46.0,89.0,102.0,218.0,478.0,97.0,173.0,982.0,1496.0,975.0,1189.0,1035.0

In [115]:
CHB_BC3 = pd.pivot_table(data = CHB_BC, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
CHB_BC3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식         12874
생활서비스    이/미용/건강     6228
소매       종합소매점       6056
         의복의류        5394
         음/식료품소매     4788
...                   ...
생활서비스    법무세무회계         8
스포츠      운영관리시설         5
         실외운동시설         4
숙박       유스호스텔          2
부동산      부동산관련서비스       1

[89 rows x 1 columns]

In [116]:
CHN_BC1 = pd.pivot_table(data = CHN_BC, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
CHN_BC1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All       122962
음식         44893
소매         43359
생활서비스      18089
학문/교육       7268
부동산         3450
숙박          3042
관광/여가/오락    2817
스포츠           44

In [117]:
CHN_BC1_1 = CHN_BC1 / CHN_BC1.loc['All'] * 100
CHN_BC1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
음식         36.509653
소매         35.262113
생활서비스      14.711049
학문/교육       5.910769
부동산         2.805745
숙박          2.473935
관광/여가/오락    2.290952
스포츠         0.035783

In [118]:
CHN_BC2 = pd.pivot_table(data = CHN_BC, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
CHN_BC2

시군구명,계룡시,공주시,금산군,논산시,당진시,보령시,부여군,서산시,서천군,아산시,예산군,천안시 동남구,천안시 서북구,청양군,태안군,홍성군
상권업종대분류명,,,,,,,,,,,,,,,,
관광/여가/오락,34.0,121.0,40.0,140.0,243.0,141.0,35.0,188.0,36.0,387.0,83.0,401.0,756.0,20.0,92.0,100.0
부동산,32.0,123.0,50.0,95.0,317.0,95.0,45.0,251.0,36.0,474.0,65.0,469.0,1166.0,18.0,84.0,130.0
생활서비스,243.0,962.0,386.0,1202.0,1318.0,1015.0,565.0,1280.0,424.0,2203.0,702.0,2635.0,3543.0,219.0,491.0,901.0
소매,503.0,2331.0,1847.0,2991.0,2937.0,3209.0,1403.0,3052.0,1278.0,5111.0,1668.0,5522.0,6877.0,702.0,1691.0,2237.0
숙박,36.0,191.0,78.0,202.0,135.0,390.0,65.0,176.0,109.0,234.0,136.0,224.0,149.0,27.0,806.0,84.0
스포츠,3.0,NaN,NaN,1.0,2.0,1.0,NaN,7.0,NaN,7.0,NaN,8.0,10.0,NaN,1.0,4.0
음식,638.0,2813.0,1042.0,2551.0,3718.0,2435.0,1057.0,3332.0,1131.0,6274.0,1594.0,5450.0,8280.0,695.0,1831.0,2052.0
학문/교육,188.0,376.0,85.0,349.0,475.0,329.0,124.0,634.0,110.0,1021.0,153.0,1010.0,1990.0,36.0,114.0,274.0

In [119]:
CHN_BC3 = pd.pivot_table(data = CHN_BC, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
CHN_BC3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식         17719
소매       종합소매점       8130
         음/식료품소매     7800
생활서비스    이/미용/건강     7717
음식       유흥주점        5655
...                   ...
관광/여가/오락 스포츠/운동        12
숙박       유스호스텔          4
스포츠      운영관리시설         3
부동산      부동산관련서비스       2
스포츠      실외운동시설         2

[89 rows x 1 columns]

In [120]:
SEJ_BC1 = pd.pivot_table(data = SEJ_BC, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
SEJ_BC1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        10299
음식          4361
소매          2849
생활서비스       1359
부동산          785
학문/교육        671
관광/여가/오락     189
숙박            76
스포츠            9

In [121]:
SEJ_BC1_1 = SEJ_BC1 / SEJ_BC1.loc['All'] * 100
SEJ_BC1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
음식         42.343917
소매         27.662880
생활서비스      13.195456
부동산         7.622099
학문/교육       6.515196
관광/여가/오락    1.835130
숙박          0.737936
스포츠         0.087387

In [122]:
SEJ_BC2 = pd.pivot_table(data = SEJ_BC, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
SEJ_BC2

시군구명      세종특별자치시
상권업종대분류명
관광/여가/오락      189
부동산           785
생활서비스        1359
소매           2849
숙박             76
스포츠             9
음식           4361
학문/교육         671

In [123]:
SEJ_BC3 = pd.pivot_table(data = SEJ_BC, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
SEJ_BC3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식          1718
소매       종합소매점        896
부동산      부동산중개        754
생활서비스    이/미용/건강      631
음식       커피점/카페       483
...                   ...
관광/여가/오락 연극/영화/극장       2
부동산      평가/개발/관리       2
생활서비스    행사/이벤트         1
숙박       호텔/콘도          1
         민박/하숙          1

[85 rows x 1 columns]

In [124]:
DJN_BC1 = pd.pivot_table(data = DJN_BC, index = "상권업종대분류명", values='상가업소번호', aggfunc = "count", margins=True)
DJN_BC1.sort_values(by='상가업소번호',ascending=False)

          상가업소번호
상권업종대분류명
All        86607
소매         30044
음식         29062
생활서비스      13880
학문/교육       7197
관광/여가/오락    2946
부동산         2544
숙박           896
스포츠           38

In [125]:
DJN_BC1_1 = DJN_BC1 / DJN_BC1.loc['All'] * 100
DJN_BC1_1.sort_values(by='상가업소번호',ascending=False)

              상가업소번호
상권업종대분류명
All       100.000000
소매         34.690037
음식         33.556179
생활서비스      16.026418
학문/교육       8.309952
관광/여가/오락    3.401573
부동산         2.937407
숙박          1.034558
스포츠         0.043876

In [126]:
DJN_BC2 = pd.pivot_table(data = DJN_BC, index = "상권업종대분류명", columns='시군구명', values='상가업소번호', aggfunc = "count")
DJN_BC2

시군구명       대덕구    동구    서구   유성구    중구
상권업종대분류명
관광/여가/오락   352   394  1092   529   579
부동산        230   313   919   672   410
생활서비스     1833  2136  4919  2357  2635
소매        4043  5184  9865  4646  6306
숙박          95   243   108   126   324
스포츠          4     2    10    15     7
음식        3341  4266  9540  6372  5543
학문/교육      763   711  2884  1781  1058

In [127]:
DJN_BC3 = pd.pivot_table(data = DJN_BC, index = ["상권업종대분류명", '상권업종중분류명'], values='상가업소번호', aggfunc = "count")
DJN_BC3.sort_values(by='상가업소번호', ascending=False)

                   상가업소번호
상권업종대분류명 상권업종중분류명
음식       한식         10702
생활서비스    이/미용/건강     6181
소매       의복의류        5101
         종합소매점       4650
음식       유흥주점        3378
...                   ...
관광/여가/오락 스포츠/운동        13
숙박       민박/하숙         12
스포츠      실외운동시설         4
         운영관리시설         2
부동산      부동산관련서비스       1

[88 rows x 1 columns]

## 첫번째 분석

* 분석한 내용 간단히 설명 : 충청북도, 충청남도, 대전광역시, 세종특별자치시의 업종대분류별 소상공인수(사업장 수), 시군구별(세종특별자치시의 경우 행정동) 소상공인 수, 업종중분류별 소상공인수를 파악하는 분석을 진행하였다

In [ ]:
# 소상공인 수(사업장 수)는 충청남도, 충청북도, 대전광역시, 세종특별자치시 순으로 많다. 이는 면적과도 관련이 있을 것으로 예상되므로 면적과 인구에 따라 표준화하여 분석해야 할 것이다.
# 모든 지역에서 음식/소매업의 수가 가장 많고 총 사업장 수에 대해 각각 30% 가량의 비율을 차지하고 있다.

In [ ]:
# 음식업 중 한식 음식점의 수가 공통적으로 가장 많은 것으로 나타난다.
# 그 외에 공통적으로 종합소매점(소매업), 이/미용/건강(서비스업)의 순위가 높게 나타났다.
# 세종특별자치시는 다른 지역과 다르게 부동산 중개(부동산업)의 비율이 높게 나타나는 특징이 있다.

## 두번째 분석

* 분석한 내용 간단히 설명 : 코로나19 이전과 이후의 소상공인 수(사업장 수)를 비교하는 분석을 진행하였다.

In [ ]:
# 세종특별자치시를 제외한 나머지 세 지역에서는 코로나 이전의 소상공인 수가 코로나 이후의 소상공인 수보다 많은 것으로 나타났다. 코로나로 인해 사업을 유지하기 어려웠던 것으로 보인다.
# 세 개의 지역에서는 대략 10,000개 이상의 사업장이 줄어든 것으로 나타났다.
# 코로나 이전 상황에도 음식/소매업의 수가 가장 많으며, 코로나 이후보다 비율은 높게 나타났다.

In [ ]:
# 코로나 이전에도 코로나 이후 시점과 동일하게 한식 음식점의 수가 가장 많고, 종합소매점(소매업), 이/미용/건강(서비스업)의 순위가 높게 나타났다.
# 코로나 이후 전체 지역에서 한식 음식점의 수가 감소했으며, 순위의 변화는 크지 않았고 전체적으로 유흥주점의 수는 줄었다.